<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yeps.model">
	<select id="listEvent" resultType="EventDTO">
		select * from yeps_event
	</select>
	
	<insert id="insertEvent" parameterType="EventDTO">
		insert into yeps_event values (yeps_event_seq.nextval, #{cnum}, #{eventname}, #{start_date},
		 #{start_time}, #{end_date, jdbcType=VARCHAR}, #{end_time, jdbcType=VARCHAR}, #{store_address}, #{content}, #{discount}, #{category}, #{ip})
	</insert>
	
	<select id="getEventContent" parameterType="int">
		select * from yeps_event where evnum = #{evnum}
	</select>
</mapper>