<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yeps.model">
	<insert id="insertFile" parameterType="FileDTO">
		insert into yeps_files values (yeps_files_seq.nextval, #{mnum, jdbcType=INTEGER}, #{rnum, jdbcType=INTEGER}, #{rvnum, jdbcType=INTEGER}, 
										#{evnum, jdbcType=INTEGER}, #{filename}, #{origin_filename}, #{filesize}, #{file_content, jdbcType=VARCHAR}, sysdate)
	</insert>
	
	<update id="updateFileContent" parameterType="java.util.HashMap">
		update yeps_files set file_content = #{file_content, jdbcType=VARCHAR} where filenum = #{filenum} 
	</update>
	
	<select id="getFile" parameterType="java.util.HashMap" resultType="FileDTO">
		select * from yeps_files where filename = #{filename, jdbcType=VARCHAR} or filenum = #{filenum, jdbcType=INTEGER} order by filenum desc
	</select>
	
	<delete id="deleteFile" parameterType="int">
		delete yeps_files where filenum = #{filenum}
	</delete>
	
	<delete id="deleteFileToFilename" parameterType="String">
		delete yeps_files where filename = #{filename}
	</delete>
	
	<select id="getfileListForMe" parameterType="java.util.HashMap" resultType="FileDTO">
		select * from yeps_files where evnum = #{evnum} and mnum = #{mnum} order by filenum desc
	</select>
	
	<select id="getFYIEventFile" parameterType="int" resultType="FileDTO">
		select * from yeps_files where evnum = #{evnum} and rownum = 1 order by filenum asc
	</select>
	
	<select id="getTargetEventFiles" parameterType="int" resultType="FileDTO">
		select * from yeps_files where evnum = #{evnum} order by filenum desc
	</select>
</mapper>