<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper     
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yeps.model">

	<select id="getContent" parameterType="int" resultType="MessageDTO">
		select * from yeps_message where msgnum=#{msgnum}
	</select>

	<delete id="deleteMessage" parameterType="int">
		delete from yeps_message where msgnum=#{msgnum}
	</delete>

	<insert id="writeMessage" parameterType="MessageDTO">
		insert into yeps_message values(yeps_message_seq.nextval, #{title}, #{receiver}, #{sender}, #{content}, sysdate, 0, 0, 0, 0, 0)
	</insert>

	<select id="messageList" resultType="MessageDTO" parameterType="MessageDTO">
		${sql}
	</select>
	
	<!-- <select id="sendList" resultType="MessageDTO">
		select * from yeps_message where sender=#{sender}
	</select>
	
	<select id="receiveList" resultType="MessageDTO">
	    select * from yeps_message where receiver=#{receiver}
	</select>
	
	<select id="noReadMessage" resultType="MessageDTO">
	    select * from yeps_message where readnum=0 and islocker=0
	</select>
	
	<select id="noReadLocker" resultType="MessageDTO">
	    select * from yeps_message where readnum=0 and islocker=1
	</select> -->
	
	<select id="receiver" resultType="String">
	    select sender from yeps_message where msgnum=#{msgnum} 
	</select>
	
	<select id="sender" resultType="String">
	    select name from yeps_member where mnum=#{mnum} 
	</select>
	
	<select id="getMember" resultType="MemberDTO">
	    select * from yeps_member where name=#{name}
	</select>

	 <select id="getMessageCount" resultType="int">
	    select count(*) from yeps_message 
	</select> 
	
	<select id="getSendCount" resultType="int">
	    select count(*) from yeps_message where sender=#{sender}
	    </select> 
	    
	<select id="getReceiveCount" resultType="int">
	    select count(*) from yeps_message where receive=#{receive}
	</select>  
	
	<select id="getLockerCount" resultType="int">
	    select count(*) from yeps_message where islocker=1
	</select>    
	
	<update id="updateReadDate" parameterType="int">
	    update yeps_message set readdate=sysdate where msgnum=#{msgnum}
    </update>
    
    <update id="updateReadNum1" parameterType="int">
        update yeps_message set readnum=1 where msgnum=#{msgnum}
    </update>
    
     <update id="updateReadNum0" parameterType="int">
        update yeps_message set readnum=0 where msgnum=#{msgnum}
    </update>
    
    <update id="moveToLocker" parameterType="int">
        update yeps_message set islocker=1 where msgnum=#{msgnum}
    </update>
    
     <update id="lockerToMsgBox" parameterType="int">
        update yeps_message set islocker=0 where msgnum=#{msgnum}
    </update>
    
    
</mapper>










