<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.model">
	<select id="listRestaurant" parameterType="java.util.HashMap" resultType="RestaurantDTO" >
		select * from (select rownum rn, A.* from (select * from yeps_restaurant order by rnum desc)A) where rn between #{start} and #{end}
	</select>

	<insert id="insertRestaurant" parameterType="RestaurantDTO">
		insert into yeps_restaurant values(yeps_restaurant_seq.nextval,0,#{rname},#{rest_filename},#{zipNo},#{roadAddrPart1},#{addrDetail},#{roadAddrPart2},
		#{raddress},#{hp2},#{hp3},#{foodstyle},#{mon, jdbcType=VARCHAR},#{tue, jdbcType=VARCHAR},#{wed, jdbcType=VARCHAR},#{thu, jdbcType=VARCHAR},
		#{fri, jdbcType=VARCHAR},#{sat, jdbcType=VARCHAR},#{sun,jdbcType=VARCHAR},
		#{reststyle},#{reserv},#{delivery},#{takeout},#{parking},#{kidszone},#{groupreserv},#{noise},#{alcohol},#{waiting},
		#{wifi},#{toilet},#{tablecount},#{standard},#{busytime},sysdate,#{mnum},#{category},#{price})
	</insert>
	
	<select id="getRest" parameterType="int" resultType="RestaurantDTO" >
		select * from yeps_restaurant where rnum = #{rnum}
	</select>
	
	<select id="getCount" resultType="int">
		select count(*) from yeps_restaurant
	</select>
	
	<select id="getImageCount" resultType="int">
		select count(*) from yeps_files where rnum=#{rnum}
	</select>
	
	<select id="review_write_getrname" parameterType="int" resultType="String"> 
		select rname from yeps_restaurant where rnum= #{rnum} 
	</select>
	
	<select id="listRestaurant_delivery" parameterType="java.util.HashMap" resultType="RestaurantDTO" > 
		select * from (select rownum rn, A.* from (select * from yeps_restaurant where delivery='가능' order by rnum desc)A) where rn between #{start} and #{end} 
	</select>

	<select id="listRestaurant_reserv" parameterType="java.util.HashMap" resultType="RestaurantDTO" > 
		select * from (select rownum rn, A.* from (select * from yeps_restaurant where reserv='가능' order by rnum desc)A) where rn between #{start} and #{end} 
	</select>

	<select id="listRestaurant_takeout" parameterType="java.util.HashMap" resultType="RestaurantDTO" > 
		select * from (select rownum rn, A.* from (select * from yeps_restaurant where takeout='가능' order by rnum desc)A) where rn between #{start} and #{end} 
	</select>
	
	

	<select id="getNewRestaurant" resultType="RestaurantDTO" > 
		select * from yeps_restaurant where rownum=1 order by rnum desc 
	</select>
	
	
	
	<!-- =========================================================== -->
	
	<select id="GetRestaurantName_R" parameterType="int" resultType="RestaurantDTO">
		select * from yeps_restaurant where rnum = #{GETrnum}
	</select>
	
	<select id="review_restaurantIMG" resultType="RestaurantDTO">
        select * from yeps_restaurant where 19 >= rownum 
     </select>
     
     <!-- 12월 31일 지원 추가 -->
	<select id="getHotAndNewRestaurant" resultType="RestaurantDTO">
		select * from yeps_restaurant where rnum=#{rnum}
	</select>
	
	<!-- 이벤트랑 연결 -->
	<select id="findRestaurant" parameterType="java.util.HashMap" resultType="RestaurantDTO">
		select * from yeps_restaurant where zipNo = #{zipNo} and roadAddrPart1 = #{roadAddrPart1} and roadAddrPart2 = #{roadAddrPart2} and addrDetail = #{addrDetail}
	</select>
	
	<!-- 1월 4일 상우 추가 -->
	<select id="get_review_restaurantFind_Count" parameterType="String" resultType="int">
 		select count(*) from yeps_restaurant where rname like '%'||#{SearchFind}||'%'
 	</select>

 	<select id="review_restaurantFind" parameterType="java.util.HashMap" resultType="RestaurantDTO">
 		select *from (select rownum rn,A.* from(select * from yeps_restaurant where rname like '%'||#{SearchFind}||'%' order by rnum desc)A) where rn between #{start} and #{end} 
 	</select>
	
	
	<!-- 1월 5일 민우 추가 -->
	<select id="getCountByCLS" parameterType="java.util.HashMap" resultType="int">
		select count(*) from yeps_restaurant where category=#{category} and replace(upper(roadAddrPart1),' ','') like '%'||replace(upper(#{location}),' ','')||'%' and replace(upper(rname),' ','') like '%'||replace(upper(#{searchword}),' ','')||'%'
	</select>
	<select id="getCountByCL" parameterType="java.util.HashMap" resultType="int">
		select count(*) from yeps_restaurant where category=#{category} and replace(upper(roadAddrPart1),' ','') like '%'||replace(upper(#{location}),' ','')||'%'
	</select>
	<select id="getCountByCS" parameterType="java.util.HashMap" resultType="int">
		select count(*) from yeps_restaurant where category=#{category} and replace(upper(rname),' ','') like '%'||replace(upper(#{searchword}),' ','')||'%'
	</select>
	<select id="getCountByC" parameterType="java.util.HashMap" resultType="int">
		select count(*) from yeps_restaurant where category=#{category}
	</select>
	<select id="getCountByLS" parameterType="java.util.HashMap" resultType="int">
		select count(*) from yeps_restaurant where replace(upper(roadAddrPart1),' ','') like '%'||replace(upper(#{location}),' ','')||'%' and replace(upper(rname),' ','') like '%'||replace(upper(#{searchword}),' ','')||'%'
	</select>
	<select id="getCountByL" parameterType="java.util.HashMap" resultType="int">
		select count(*) from yeps_restaurant where replace(upper(roadAddrPart1),' ','') like '%'||replace(upper(#{location}),' ','')||'%'
	</select>
	<select id="getCountByS" parameterType="java.util.HashMap" resultType="int">
		select count(*) from yeps_restaurant where replace(upper(rname),' ','') like '%'||replace(upper(#{searchword}),' ','')||'%'
	</select>
	
	<select id="listRestByCLS" parameterType="java.util.HashMap" resultType="RestaurantDTO" > 
		select * from (select rownum rn, A.* from (select * from yeps_restaurant where category=#{category} and replace(upper(roadAddrPart1),' ','') like '%'||replace(upper(#{location}),' ','')||'%' and replace(upper(rname),' ','') like '%'||replace(upper(#{searchword}),' ','')||'%' order by rnum desc)A) where rn between #{start} and #{end} 
	</select>
	<select id="listRestByCL" parameterType="java.util.HashMap" resultType="RestaurantDTO" > 
		select * from (select rownum rn, A.* from (select * from yeps_restaurant where category=#{category} and replace(upper(roadAddrPart1),' ','') like '%'||replace(upper(#{location}),' ','')||'%' order by rnum desc)A) where rn between #{start} and #{end} 
	</select>
	<select id="listRestByCS" parameterType="java.util.HashMap" resultType="RestaurantDTO" > 
		select * from (select rownum rn, A.* from (select * from yeps_restaurant where category=#{category} and replace(upper(rname),' ','') like '%'||replace(upper(#{searchword}),' ','')||'%' order by rnum desc)A) where rn between #{start} and #{end} 
	</select>
	<select id="listRestByC" parameterType="java.util.HashMap" resultType="RestaurantDTO" > 
		select * from (select rownum rn, A.* from (select * from yeps_restaurant where category=#{category} order by rnum desc)A) where rn between #{start} and #{end} 
	</select>
	<select id="listRestByLS" parameterType="java.util.HashMap" resultType="RestaurantDTO" > 
		select * from (select rownum rn, A.* from (select * from yeps_restaurant where replace(upper(roadAddrPart1),' ','') like '%'||replace(upper(#{location}),' ','')||'%' and replace(upper(rname),' ','') like '%'||replace(upper(#{searchword}),' ','')||'%' order by rnum desc)A) where rn between #{start} and #{end} 
	</select>
	<select id="listRestByL" parameterType="java.util.HashMap" resultType="RestaurantDTO" > 
		select * from (select rownum rn, A.* from (select * from yeps_restaurant where replace(upper(roadAddrPart1),' ','') like '%'||replace(upper(#{location}),' ','')||'%' order by rnum desc)A) where rn between #{start} and #{end} 
	</select>
	<select id="listRestByS" parameterType="java.util.HashMap" resultType="RestaurantDTO" > 
		select * from (select rownum rn, A.* from (select * from yeps_restaurant where replace(upper(rname),' ','') like '%'||replace(upper(#{searchword}),' ','')||'%' order by rnum desc)A) where rn between #{start} and #{end} 
	</select>
</mapper>











