
p {
    margin-bottom: 12px;
}

small {
    font-size: 12px;
    line-height: 1.5em;
}

#super-container {
   padding-top: 5px;
   padding-left: 10px;
}

#Membercontainer {
   width: auto;
   padding: 0;
   margin: 0;
   font: inherit;
   vertical-align: baseline;
}

#Memberbody {
   width: 960;
   height: 80%;
   margin: 40px auto;
   font-weight: bold;
}

#member-wrapper{
   width: 480;
   height: 100%;
   margin: 70px auto;
   float: left;
}
#login{
   width: 300;
   height: 100%;
   margin: auto;
}

#join{
   display : none;
   width: 300;
   height: 100%;
   margin: auto;
}

#find_email{
   display : none;
   width: 350;
   height: 100%;
   margin: auto;
}

#find_passwd{
   display : none;
   width: 350;
   height: 100%;
   margin: auto;
}

#find_passwd, #find_email p{
   font-size: 14px;
}

#login_img{
   width: 480;
   height: 100%;
   margin: 70px auto;
   float: left;
}

#member_header{
   margin-bottom: 30px;
}

#member_header p.subheading {
   font-size: 15px;
    font-weight: bold;
}

#member_header .legal-copy {
    margin-top: 10px;
}

.legal-copy {
    color: #666;
    font-size: 12px;
    line-height: 1.5em;
}

#member_body {
   position:relative;
}

.memberf [type="text"], .memberf [type="number"], .memberf [type="password"], .memberf [type="email"], .memberf [type="url"], .memberf [type="tel"], .memberf [type="date"], .memberf textarea, .memberf select, .memberf .pseudo-input,
.findpasswdf [type="text"], .findpasswdf [type="number"], .findpasswdf [type="password"], .findpasswdf [type="email"], .findpasswdf [type="url"], .findpasswdf [type="tel"], .findpasswdf [type="date"], .findpasswdf textarea, .findpasswdf select, .findpasswdf .pseudo-input,
.findemailf [type="text"], .findemailf [type="number"], .findemailf [type="password"], .findemailf [type="email"], .findemailf [type="url"], .findemailf [type="tel"], .findemailf [type="date"], .findemailf textarea, .findemailf select, .findemailf .pseudo-input{
   
   display: block;
   box-sizing: border-box;
    width: 100%;
    margin: 0 0 9px;
    padding: 5px 9px;
    background: #fff;
    border: 1px solid #999;
    border-radius: 3px;
    font-size: 14px;
    line-height: 1.28571em;
    line-height: 1.29em;
}

.sub-text-box {
    margin: 12px auto 0;
    text-align: right;
}

.signup-link , .login-link{
    margin: 0 ;
    padding: 0 ;
    background: none ;
    border: 0 ;
    outline: 0 ;
    color: #0073bb ;
    cursor: pointer ;
    font-family: inherit ;
    font-size: inherit ;
    webkit-box-shadow: none;
    box-shadow: none;
}

.u-pseudo-link:hover, .u-pseudo-link:focus {
    text-decoration: underline ;
}

.legal-link:hover, .legal-link:focus {
    text-decoration: underline ;
}

.subtle-text {
    color: #999;
    font-weight: normal;
}

#forgot-passwd {
    text-align: right;
    margin-bottom: 12px;
    margin-top: -12px;
}
#forgot-email {
    text-align: right;
    margin-bottom: 12px;
    margin-top: -5px;
}

.forgot-passwd-link:hover, .forgot-passwd-link:focus {
    cursor: pointer ;
    text-decoration: underline ;
}

.forgot-email-link:hover, .forgot-email-link:focus {
    cursor: pointer ;
    text-decoration: underline ;
}

.ybtn-primary {
    color: white;
    border-color: #8d0005;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    background-color: #d90007;
    background: -webkit-linear-gradient(#d90007, #c91400);
    background: linear-gradient(#d90007, #c91400);
}

.ybtn-primary:hover {
    background-color: #ed0008;
    background: -webkit-linear-gradient(#ed0008, #dd1600);
    background: linear-gradient(#ed0008, #dd1600);
}

.ybtn--social {
    padding-right: 5px;
}

.ybtn-big:not(.ybtn--social) {
    padding: 12px 18px 13px;
    font-size: 16px;
    line-height: 1.3125em;
}

.ybtn-full{
    width: 100%;
    webkit-box-sizing: border-box;
      moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ybtn {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    cursor: pointer;
    border: 1px solid;
    font-weight: bold;
    text-align: center;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px;
    line-height: 1.28571em;
    border-color: #000000;
    color: #ffffff;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    padding: 8px 19px 9px;
    border-radius: 3px;
}

.memberssn1{
   IME-MODE: disabled
}
.memberssn2{
   IME-MODE: disabled
}

.inline-layout {
    display: block;
    font-size: 0px;
    line-height: 1;
    text-align: left;
    margin: -3px;
}

.inline-layout > li {
    box-sizing: border-box;
    display: inline-block;
    zoom: 1;
    vertical-align: top;
    font-size: 14px;
    line-height: 1.28571em;
    width: 50%;
    padding: 0px 3px;
    margin: 3px 0px;
}


#emailpicker-div{
 position: absolute; 
 z-index: 1; 
 display: none;
 width: 50%;
 background: #fff;
 font-size: 14px;
 top:110px;
 right:0;
}


#emailpicker-div ul{
    background: #fff;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 0 0;
    margin: 0 0;
}

#emailpicker-div li {
   padding: 0px 0px 0px 20px;
   display:block;
   text-align:left;
}

#email3{
   font-weight:bold;
}

#email3:hover {
   cursor: pointer;
    background: #0073bb;
    color: #ffffff;
}

#passwdcheck{
   background-color:transparent;
   border:0;
   text-align:right;
   font-weight: bold;
   font-size: 12px;
   margin-top: -8px;
}

#mailCheck{
   text-align: left;
    background-color:transparent;
    border: 0;
    text-align: right;
    font-weight: bold;
    margin-top: 5px;
    font-size: 12px;

}

#signup-button{
    margin-top: -10px;
}

.confirmbtn-primary {
    background-color: #d90007;
    background: linear-gradient(#d90007, #c91400);
}

.confirmbtn-primary:hover {
    background-color: #ed0008;
    background: -webkit-linear-gradient(#ed0008, #dd1600);
    background: linear-gradient(#ed0008, #dd1600);
}


.confirmbtn-full{
    width: 100%;
    webkit-box-sizing: border-box;
      moz-box-sizing: border-box;
    box-sizing: border-box;
}

.confirmbtn {
    display: inline-block;
    vertical-align: middle;
    margin-top: -4px;
    cursor: pointer;
    border: 1px solid;
    font-weight: bold;
    text-align: center;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 12px;
    line-height: 1.28571em;
    border-color: #000000;
    color: #ffffff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    padding: 3px 3px;
    border-radius: 3px;
}

#confirmemail{
   position: relative;
   width: 360px;
   height: 420px;
   padding: 0;
   font: inherit;
   vertical-align: baseline;
   margin: 10px auto;
   border: 2px solid #999;
}

#confirmemail #emailpicker-div{
   position: absolute; 
    z-index: 1; 
    top: 205px;
    right: 10px;
    width: 50%;
    background: #fff;
    font-size: 14px;
}

#member_popup{
   position: relative;
   width: 360px;
   height: 300px;
   padding: 0;
   font: inherit;
   vertical-align: baseline;
   margin: 15px auto;
   border: 2px solid #999;
}

#member_popup .inline-layout, #confirmemail .inline-layout {
    margin-top: 30px;
    padding: 0 0px;
    margin-left: 5px;
}

#confirmemail [type="text"], #confirmemail [type="number"], #confirmemail [type="password"], #confirmemail [type="email"], #member_popup [type="url"], #confirmemail [type="tel"], #member_popup [type="date"], #confirmemail textarea, #confirmemail select, #confirmemail .pseudo-input,
#member_popup [type="text"], #member_popup [type="number"], #member_popup [type="password"], #member_popup [type="email"], #member_popup [type="url"], #member_popup [type="tel"], #member_popup [type="date"], #member_popup textarea, #member_popup select, #member_popup .pseudo-input{
   
   display: block;
   box-sizing: border-box;
    width: 100%;
    margin: 0 0 9px;
    padding: 5px 9px;
    background: #fff;
    border: 1px solid #999;
    border-radius: 3px;
    font-size: 14px;
    line-height: 1.28571em;
    line-height: 1.29em;
}

#confirmemail_yes_head{
   position: relative;
   width: 350px;
   height: 160px;
   text-align: left;
   margin-top: 50px;
}

#confirmemail_yes_body{
   width: 280px;
   height: 150px;
   margin: 30px auto;
}

#confirmemail_no_head{
   width: 350px;
   height: 120px;
   margin-top: 50px;
}

#confirmemail_no_body{
   width: 280px;
   height: 150px;
   margin: 30px auto;
}

.confirmemailbtn {
    display: inline-block;
    vertical-align: middle;
    margin: 20px auto;
    cursor: pointer;
    border: 1px solid;
    font-weight: bold;
    text-align: center;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 13px;
    line-height: 2em;
    border-color: #000000;
    color: #ffffff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    padding: 3px 3px;
    border-radius: 3px;
}

#confirmemail_yes_head p, #confirmemail_no_head p,
#member_popup_head p{
    margin: 10px;
}

#confirmemail_yes_head .subemail, #confirmemail_no_head .subemail ,
#member_popup_head .subemail{
    font-size: 20px;
    font-weight: bold;
    color: #ff0000;
}

#confirmemail_yes_head .subused, #confirmemail_no_head .subused,
#member_popup_head .subused{
    font-size: 17px;
    font-weight: bold;
}

#member_popup_head .subused_pw_change{
   font-size: 15px;
   font-weight: bold;
}

#member_popup_empty_head .subused{
   font-size: 17px;
    font-weight: bold;
    margin: auto;
    padding-top: 70px;
}

#email_auth{
    width: 260px;
    height: 260px;
    padding: 0;
    font: inherit;
    vertical-align: baseline;
    margin: 15px auto ;
    border: 2px solid #999;
}

#email_auth_top{
   width: 260px;
   height: 30px;
   text-align: center;
   margin-top: 40px;
   font-size: 14px;
}

.auth_top{
   font-size: 15px;
    font-weight: bold;
}

#email_auth_middle{
   width: 260px;
   height: 40px;
}

#email_auth_middle ul{
   margin: 0;
   padding: 0;
}

#email_auth_bottom{
   width: 180px;
   height: 50px;
   margin: 0px auto;
}

#email_auth_middle [type="text"], #email_auth_middle [type="number"], #email_auth_middle [type="password"], #email_auth_middle [type="email"], #email_auth_middle [type="url"], #email_auth_middle [type="tel"], #email_auth_middle [type="date"], #email_auth_middle textarea, #email_auth_middle select, #email_auth_middle .pseudo-input{
   
   display: block;
   box-sizing: border-box;
    width: 100%;
    margin: 0 0 9px;
    padding: 5px 9px;
    background: #fff;
    border: 1px solid #999;
    border-radius: 3px;
    font-size: 14px;
    line-height: 1.28571em;
    line-height: 1.29em;
}

#email_auth_middle .inline-layout {
   margin: 0px auto;
   text-align: center;
}

#member_popup_head, #member_popup_empty_head{
   position: relative;
   width: 360px;
   height: 180px;
   text-align: center;
   margin-top: 30px;
}

#member_popup_head_len {
   width: 360px;
   height: 50px;
   text-align: center;
   margin-top: 30px;
}

#member_popup_body {
   width: 280px;
   height: 90px;
   margin: 0px auto;
}

.profile-content-wrap{
   background: white;
   height: 80%;
   min-width: 1020px;
}

.profile-content-wrap >.profile-container {
    padding-top: 15px;
    padding-bottom: 36px;
}

.profile-container {
    width: 960px;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.profile-settings-container {
   padding-top: 18px;
   height: 100%;
}

.profile-column-alpha {
    float: left;
    width: 25%;
    height: 100%;
}

.profile-title-header {
    padding: 12px 12px 12px 0;
}

.profile-titled-header_content {
   display: table;
    min-width: 220;
    table-layout: auto;
    box-sizing: border-box;
    vertical-align: top;
}

.profile-title-header h3 {
    margin: 0;
    color: #333;
}

.profile-nav_link.is-active {
    background: #f5f5f5;
}

.profile-nav_link {
    display: block;
    padding: 12px;
    position: relative;
    text-decoration: none;
    color: #333;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    -webkit-transition: background-color 200ms ease-out 50ms;
    transition: background-color 200ms ease-out 50ms;
}

.profile-nav_link-content {
   margin-left: -6px;
    margin-right: -6px;
    border-collapse: separate;
    border-spacing: 6px 0;
}

.profile-arrange {
   display: table;
    min-width: 100%;
    table-layout: auto;
}

.profile-arrange >.profile-arrange_unit {
    margin-left: 3px;
    margin-right: 3px;
    border-collapse: collapse;
    border-spacing: 0 0;
    vertical-align: middle;
}

.profile-arrange_unit--fill {
    width: 100%;
}

.profile-title-header {
    padding: 12px 12px 12px 0;
}

.profile-nav_link.is-active::before {
    content: '';
    z-index: 1;
    top: -1px;
    bottom: -1px;
    left: 0;
    width: 3px;
    position: absolute;
    background: #d32323;
}


.profile-nav_items a:hover {
    background: #f5f5f5;
    cursor: pointer;
    -webkit-transition: background-color 200ms ease-out 50ms;
    transition: background-color 200ms ease-out 50ms;
}

.profile-column-beta_profile {
   display: none;
   float: left;
    padding: 0 15px;
    min-height: 1px;
    box-sizing: border-box;
    width: 75%;
}

.profile-column-beta_passwd {
   display : none;
    float: left;
    padding: 0 15px;
    min-height: 1px;
    box-sizing: border-box;
    width: 75%;
}

.profile-column-beta_memberleave {
   display : none;
    float: left;
    padding: 0 15px;
    min-height: 1px;
    box-sizing: border-box;
    width: 75%;
}

.profile-section-header {
   margin-bottom: 11px;
    border-bottom: 1px solid #e6e6e6;
}

.profile-section-header h2 {
    word-wrap: break-word !important;
    word-break: break-word !important;
    overflow-wrap: break-word !important;
    font-weight: bold;
    margin-bottom: 6px;
    font-size: 21px;
    line-height: 1.28571em;
    color: #d32323;
}

.profilef {
   max-width: 465px;
   
}

.profilef .psection {
   margin-bottom: 18px;
}

.profilef h4 {
    word-wrap: break-word !important;
    word-break: break-word !important;
    overflow-wrap: break-word !important;
    font-weight: bold;
    margin-bottom: 6px;
    font-size: 14px;
    line-height: 1.28571em;
    color: #333;
    margin: 0 0 3px;
}

.profilef b, .profilef strong, .profilef h5 {
    font-weight: bold;
}

.profilef label, .profilef legend {
    display: inline-block;
    font-weight: bold;
    margin: 0 0 6px;
}

.profilef label+.help-block {
    margin: -6px 0 3px;
    display: block;
    color: #999;
    font-size: 12px;
    line-height: 1.5em;
    font-weight: normal;
}

.profilef [type="text"], .profilef [type="number"], .profilef [type="password"], .profilef [type="email"], .profilef [type="url"], .profilef [type="tel"], .profilef [type="date"], .profilef textarea, .profilef select, .profilef .pseudo-input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin: 0 0 18px;
    padding: 5px 9px;
    background: #fff;
    border: 1px solid #999;
    border-radius: 3px;
    font-size: 14px;
    line-height: 1.29em;
}

.ybtn+a:not(.ybtn) {
    margin-top: 9px;
    margin-bottom: 7px;
    font-size: 14px;
    line-height: 1.28571em;
}

.ybtn+a {
    display: inline-block;
    vertical-align: middle;
    margin-left: 12px;
}

.ybtn+a:hover {
    text-decoration: underline ;
}

.member_manager_form .sc-search-field input, .ie .member_manager_form .sc-search-field input {
   width: 65%;
    padding: 8px 12px 7px;
    float: left;
}

.member_manager_form [type="text"], .member_manager_form [type="password"], .member_manager_form [type="email"], .member_manager_form [type="url"], .member_manager_form [type="tel"], .member_manager_form textarea, .member_manager_form select, .member_manager_form .pseudo-input {
    display: block;
    box-sizing: border-box;
    width: 10%;
    height: 30px;
    margin: 0 5px 18px;
    background: rgba(250,250,249,0.9);
    border: 1px solid #bbb;
    border-radius: 3px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.15);
    font-size: 14px;
    line-height: 1.29em;
    float:left;
}

.member_managerbtn-primary {
   width : 20%;
    border-color: #861202;
    color: white;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    background-color: #d90007;
    background: linear-gradient(#d90007, #c91400);
    float:left
}

.member_managerbtn {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    cursor: pointer;
    border: 1px solid;
    font-weight: bold;
    text-align: center;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px;
    line-height: 1.28571em;
    border-color: #000000;
     box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    padding: 8px 19px 9px;
    border-radius: 3px;
    float:left;
}

.member_managerbtn-primary:hover {
    background-color: #ed0008;
    background: -webkit-linear-gradient(#ed0008, #dd1600);
    background: linear-gradient(#ed0008, #dd1600);
}


.memberManager {
   background: white;
   min-width: 1020px;
}

.memberManagerContainer_wrap {
   padding-bottom: 36px;
    width: 960px;
    margin: 0 auto;
    padding: 15px 15px;
}


.memberManagerContainer_section_header {
    margin-bottom: 11px;
    border-bottom: 1px solid #e6e6e6;
}

.memberManager h2 {
    word-wrap: break-word !important;
    word-break: break-word !important;
    overflow-wrap: break-word !important;
    font-weight: bold;
    margin-bottom: 6px;
    font-size: 21px;
    line-height: 1.28571em;
    color: #d32323;
}

.memberManager h3 {
    word-wrap: break-word !important;
    word-break: break-word !important;
    overflow-wrap: break-word !important;
    font-weight: bold;
    margin-bottom: 6px;
    font-size: 16px;
    line-height: 1.3125em;
    color: #d32323;
}

.memberManagerContainer_section {
   margin-bottom: 18px;
}

.memberManagerContainer_section_member_wrap {
   margin-top: -30px;
   margin-left: -15px;
   margin-right: -15px;
   display: block;
    font-size: 0;
    line-height: 1;
    text-align: left;
    border-collapse: separate;
    border-spacing: 30px 0;
    min-width: 100%;
    table-layout: auto;
}

.memberManagerContainer_section_member {
   margin-top: 30px;
   margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 25%;
    display: inline-block;
    zoom: 1;
    font-size: 14px;
    line-height: 1.28571em;
    border-collapse: collapse;
    border-spacing: 0 0;
    box-sizing: border-box;
    vertical-align: top;
}

.not_found_member {
   margin-top: 30px;
   margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    display: inline-block;
    zoom: 1;
    font-size: 14px;
    line-height: 1.28571em;
    border-collapse: collapse;
    border-spacing: 0 0;
    box-sizing: border-box;
    vertical-align: top;
    text-align:center;
}

.member_passport {
   font-size: 12px;
    line-height: 1.5em;
    position: relative;
    display: flex;
}

.member_avatar {
   border-right: 6px solid transparent;
    border-left: none;
}

.member_avatar a {
    color: #0073bb;
    text-decoration: none;
}

.member_story {
   margin-left: 9px;
   -webkit-box-flex: 1;
    flex: 1;
    min-width: 0;
    min-height: 0;
}


.user-display-name{
   font-size: 14px;
    line-height: 1.28571em;
    font-weight: bold;
}

.member_story b{
    font-weight: bold;
}

.memberManagerContainer_section_member_wrap {
   display: block;
    font-size: 0;
    line-height: 1;
    text-align: left;
    border-collapse: separate;
    border-spacing: 30px 0;
    min-width: 100%;
    table-layout: auto;
}

.member_profilef {
   margin : 30px auto;
   max-width: 700px;
   height: 100%;
}

.member_profilef .psection {
   margin-bottom: 18px;
}

.member_profilef h4 {
    word-wrap: break-word !important;
    word-break: break-word !important;
    overflow-wrap: break-word !important;
    font-weight: bold;
    margin-bottom: 6px;
    font-size: 14px;
    line-height: 1.28571em;
    color: #333;
    margin: 0 0 3px;
}

.member_profilef b, .member_profilef strong, .member_profilef h5 {
    font-weight: bold;
}

.member_profilef label, .member_profilef legend {
   font-size: 15px;
    display: inline-block;
    font-weight: bold;
    margin: 0 0 6px;
}

.member_profilef label+.help-block {
    margin: -6px 0 3px;
    display: block;
    color: #999;
    font-size: 12px;
    line-height: 1.5em;
    font-weight: normal;
}

.member_profilef [type="text"], .member_profilef [type="number"], .member_profilef [type="password"], .member_profilef [type="email"], .member_profilef [type="url"], .member_profilef [type="tel"], .member_profilef [type="date"], .member_profilef textarea, .member_profilef select, .member_profilef .pseudo-input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin: 0 0 18px;
    padding: 5px 9px;
    background: #fff;
    border: 1px solid #999;
    border-radius: 3px;
    font-size: 14px;
    line-height: 1.29em;
}

.member_profilef_alpha {
   text-align: center;
   width: 30%;
   float: left;
}

.member_profilef_beta {
   width: 70%;
   float: left;
}

.deletebtn {
   width: 50%;
}