#messageContainer {
	height: 80%;
    position: relative; 
    top: 30px;  
	
	min-width: 800px;
	max-width: 100%;
	margin: 0 400px;
	padding: 0px;
}

#messageHeader {
    font-weight: bold;
	font-family: cambria;
	font-size: 17px;
} 

#messageHeader label{
	color: #d32323;  
	font-weight: bold; 
	font-family: cambria; 
	font-size: 26px; 
	position: relative; 
	float: left;  
}

#menu a {
    font-family: cambria;
	font-size: 17px;
}

#menu {
	background-color: #ffffff;
	float: left;
	width: 100%;
	top: 50px;
	font-weight: bold;
	font-family: cambria;
	font-size: 17px;
	margin: 0px;
}

#write{
	cursor:pointer; 
	width: 175; 
	height: 35; 
	position: relative; 
	float: right;
	color: #ffffff; 
	background: #d32323; 
	border-radius: 5px; 
	font-weight: bold; 
	font-family: cambria; 
	font-size: 16px;
	border: 1px solid #8d0005;
}

#messageList {
	width: 100%;
	top: 90px;
    margin: 5px;
	padding: 5px;
}

#table tr[id="list"].selected {
	background-color: #f5f5f5;
	color: #000;
	font-weight: bold;
}

button #close {
	background: #00ff0000; 
	border: 0; 
	color:000000;
}

button #reply {
	width: 120px;
	height: 40px;
	border-radius: 7px;
	color: #ffffff;
	background: #d32323;
	font-weight: bold;
	font-family: consolas;
	font-size: 17px;
}

.popup label {
     font-weight:bold; 
     font-size:21px;"
     }
     
button #sender{
       background: #00ff0000; 
       border: 0; 
       font-weight: bold; 
       font-family: consolas; 
       color:#0073bb; 
       font-size:17px;"
}

#receiver, #title {
	width: 100%;
	height: 40;
	border-radius: 7px;
	font-family: consolas;
	font-weight: bold;
	font-size: 22px;	
}

#table #del,#reply,#search,#locker {
	color: #ffffff; 
	background: #d32323; 
	border-radius: 5px; 
	font-weight: bold; 
	font-family: consolas;
	border: 1px solid #8d0005;
}

#sender {
	background: #00ff0000; 
	border: 0; 
	font-weight: bold; 
	font-family: consolas; 
	color:#0073bb; 
	font-size:20px; 
	cursor:pointer; 
}

.btn{
	font-weight: bold; 
	font-family: consolas; 
	font-size:20px; 
	cursor:pointer;
}

.popup {
	width:100%;
	height:100%;
	display:none;
	position:fixed;
	top:0px;
	left:0px;
	background:rgba(0,0,0,0.75);
}
    
       /* Inner */
.popup-inner {
	max-width:550px;
	max-height:330px;
	width:90%;
	padding:20px;
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%, -50%);
	transform:translate(-50%, -50%);
	box-shadow:0px 2px 6px rgba(0,0,0,1);
	border-radius:3px;
	background:#fff;
	color: #d32323;
}
       
.popup-inner a:hover {
	text-decoration: underline;
}
       
.popup-inner h3 {
	font-weight:bold; 
	font-size:21px; 
	z-index: 1;
	margin: 5px 0;
}
       
.popup button {
	cursor:pointer; 
	width: 170; 
	height: 33;  
	color: #ffffff; 
	background: #d32323; 
	border-radius: 5px; 
	font-weight: bold; 
	font-family: cambria; 
	font-size: 17px;
	border: 1px solid #8d0005;
}
	   
.popup button:hover, #table #del:hover, #reply:hover, #search:hover, #locker:hover, #write:hover {
	background: red;
}
	   
.popup input {
	width: 100%; 
	font-weight:bold; 
	font-size:inherit; 
	border-radius: 5px;
	margin-bottom: 5px;
	background: #fff;
    border: 1px solid #999;
    padding-left: 10px;
}

#sendformMessage {
	resize: none; 
	font-weight:bold; 
	width:100%; 
	font-size:17px; 
	border-radius: 5px;
	padding-left: 10px;
}
       
#message {
	resize: none; 
	font-weight: bold; 
	font-size: 21px; 
	border-radius: 5px; 
	width: 100%; 
	bgcolor: #fff;
}
     /* Close Button */
.popup-close {
	width:30px;
	height:30px;
	padding-top:4px;
	display:inline-block;
	position:absolute;
	top:0px;
	right:0px;
	transition:ease 0.25s all;
	-webkit-transform:translate(50%, -50%);
	transform:translate(50%, -50%);
	border-radius:1000px;
	background:rgba(0,0,0,0.8);
	font-family:Arial, Sans-Serif;
	font-size:20px;
	text-align:center;
	line-height:100%;
	color:#fff;
}
     
.popup-close:hover {
	-webkit-transform:translate(50%, -50%) rotate(180deg);
	transform:translate(50%, -50%) rotate(180deg);
	background:rgba(0,0,0,1);
	text-decoration:none;
}
      