body {
	padding: 0;
	margin: 0;
	 overflow-x: hidden;
}

#container {
	 width: 100%;
	 margin: auto;
	 border: 1px solid;
}

#header {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 600px;
	border: 1px solid;
}

#header img {
	width: 100%;
	height: 600px;
}

#header_top {
	border: 1px solid black;
	position: absolute;
	top: 20px;
	left: 80px;
	right: 80px;
	margin: auto;
	float: left;
}

#header_write_review {
	border: 0px solid;
	float: left;
	padding: 10px 20px;
	font-weight: bold;
	color: white;
}

#header_write_review:hover {
	border-bottom: 2px solid white;
}

#header_write_review:active {
	color: gray;
}

#header_events {
	border: 0px solid;
	float: left;
	margin: auto;
	padding: 10px 20px;
	font-weight: bold;
	color: white;
}

#header_events:hover {
	border-bottom: 2px solid white;
}

#header_events:actice {
	color: gray;
}

#header_signup {
	float: right;
	padding: 10px 20px;
	border-radius: 3px;
	border: 2px solid white;
	font-weight: bold;
	color: white;
}

#header_signup:hover {
	border: 2px solid white;
	background-color: white;
	color: gray;
}

#header_signup:active {
	color: #c0c0c0;
}

#header_login {
	float: right;
	margin-right: 20px;
	padding: 10px 20px;
	font-weight: bold;
	color: white;
}

#header_login:hover {
	border-bottom: 2px solid white;
}

#header_login:active {
	color: gray;
}

#header_center {
	border: 1px solid blue;
	height: 50%;
	position: absolute;
	color: black;
	left: 80px;
	right: 80px;
	top: 150px;
	margin: auto;
	font-weight: bold;
}

#header_center #header_center_top {
	border : 1px solid white;
	margin: auto;
}

#header_center #header_center_top img {
	outline: none;
	width: 160px;
	height: 80px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#header_center #header_center_footer {
	border: 1px solid black;
	margin-top: 30px;
	margin-bottom: 10px;
	height: 15%;
	border-radius: 3px;
}

#header_center #header_center_footer label {
	width: 50%;
	height: auto;
	vertical-align: middle;
}





/* input[type="text"]{
      width:200px;
      height:100%;
      border:none;
      font-size:1em;
      padding-left: 5px;
      font-style: oblique;
      display:inline;
      outline:none;
      box-sizing: border-box;
      color:black;
}

label {
	background-color: white;
	width:100px;
    height:100%;
    border:none;
    font-size:1em;
    padding-left: 5px;
    font-style: oblique;
    display:inline;
    outline:none;
    box-sizing: border-box;
    color:black;
}
    


input[type=button]{
      width: 30px;
      height:100%;
      background-color: lightgray;
      border:none;
      background-color: white;
      font-size:1em;
      color:#042AaC;
      outline:none;
      display:inline;
      margin-left: -10px;
      box-sizing: border-box;
}

input[type=button]:hover{
      background-color: lightgray;
} */




#header_bottom {
	width: 100px;
	position: absolute;
	color: white;
	left: 45%;
	bottom: 10px;
	font-weight: bold;
	font-size: 10px;
	float: left;
}


#content {
	width: 100%;
	margin-bottom: 20px;
	padding: 20px;
	border: 1px solid;
}

#bottom {
	clear:both;
	padding: 20px;
	border: 1px solid;
}








