body {
	padding: 0;
	margin: 0;
}

#container {
	 width: 100%;
	 margin: auto;
	 border: 1px solid;
	 overflow-x: hidden;
}

#header {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 600px;
	border: 1px solid;
}

#header img {
	width: 100%;
	height: 600px;
}

#header_top {
	position: absolute;
	top: 20px;
	left: 80px;
	right: 80px;
	margin: auto;
	float: left;
}

#header_write_review {
	border: 0px solid;
	float: left;
	padding: 10px 20px;
	font-weight: bold;
	color: white;
}

#header_write_review:hover {
	border-bottom: 2px solid white;
}

#header_events {
	border: 0px solid;
	float: left;
	margin: auto;
	padding: 10px 20px;
	font-weight: bold;
	color: white;
}

#header_events:hover {
	border-bottom: 2px solid white;
}

#header_signup {
	float: right;
	padding: 10px 20px;
	border-radius: 3px;
	border: 2px solid white;
	font-weight: bold;
	color: white;
}

#header_signup:hover {
	border: 2px solid white;
	background-color: white;
	color: gray;
}

#header_login {
	float: right;
	margin-right: 20px;
	padding: 10px 20px;
	font-weight: bold;
	color: white;
}

#header_login:hover {
	border-bottom: 2px solid white;
}

#header_center {
	position: absolute;
	width: 100%;
	height: 200px;
	color: blue;
	top: 150px;
	left: 45%;
	font-weight: bold;
}

#header_center #header_center_top {
	width: 150px;
	clear: both;
}

#header_center #header_center_top img {
	width: 100%;
	height: auto;
}

#header_center #header_center_footer {
	top: 20px;
	left: 80px;
	right: 80px;
	margin: auto;
	width: 100%;
}

#header_center #header_center_footer #search_cate {
	float: left;
	padding: 0px;
	margin: 0px;
}

#header_center #header_center_footer #search_location {
	float: left;
	padding: 0px;
	margin: 0px;
}

#header_center #header_center_footer #search_name {
	float: left;
	padding: 0px;
	margin: 0px;
}

#header_center #header_center_footer #search_button {
	float: left;
	padding: 0px;
	margin: 0px;
}

#header_bottom {
	width: 100px;
	position: absolute;
	color: white;
	left: 45%;
	bottom: 10px;
	font-weight: bold;
	font-size: 10px;
	float: left;
}




#content {
	width: 100%;
	margin-bottom: 20px;
	padding: 20px;
	border: 1px solid;
}

#bottom {
	clear:both;
	padding: 20px;
	border: 1px solid;
}








